body {
  font-family: Arial;
  background: #f0f0f0;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.card {
  width: 400px;
  border-radius: 15px;
  overflow: hidden;
  background: white;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* HEADER */
.card-header {
  background: #e74c3c;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: bold;
}

.right {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* BODY */
.card-body {
  padding: 15px;
}

.description {
  color: #555;
}

.footer {
  display: flex;
  justify-content: space-between;
  color: #999;
  font-size: 14px;
}